QListWidget, QListView, QTreeWidget, QTreeView {
    outline: 0px;
}

QListWidget {

    font-size: 18px;
    color: Black;
    background: #f5f5f5;
}

QListWidget::Item:selected {
    background: #858585;
    border-left: 10px solid #75cdff;
}
HistoryPanel:hover {
    background: rgb(52, 52, 52);
}