QToolBar {
    /* 鑳屾櫙棰滆壊 */
    background-color: white;
}

QToolButton{
        border:2px solid black;
        border-top:1px solid black;
        border-bottom: 1px solid black;
	    border-radius:10px;
	    font:16px;
	    qproperty-iconSize: 70px 70px;
	    background-color:	#FCFCFC;

    }
    QToolButton:hover{
        background:#E0FFFF;
    }